:root {
	--black: #202020;
	--gray: #b2b3b9;
	--light-gray: #999999;
	--background: #f3f3f3;
	--primary: #242edb;
	--white: #ffffff;
	--red: #f11010;
	--text: #6b6375;
	--shadow:
		rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

	--sans: system-ui, "Segoe UI", Roboto, sans-serif;
	--heading: system-ui, "Segoe UI", Roboto, sans-serif;
	--mono: ui-monospace, Consolas, monospace;

	font: 18px/145% var(--sans);
	letter-spacing: 0.18px;
	color: var(--text);
	background: var(--bg);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}

#root {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	border-inline: 1px solid var(--border);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
}

* {
	box-sizing: border-box;
}

img {
	width: 100%;
	max-width: 100%;
}
